a:active {color: #000000; text-decoration: none;}
a:link {color: #000000; text-decoration: none;}
a:visited {color: #000000; text-decoration:none;} 
a:hover {color: rgba(196, 18, 0, 0.90); text-decoration:none; cursor: pointer;} 

@font-face{
	font-family: title_font;
	src:url('BebasNeue.otf');
}
@font-face{
	font-family: body_font;
	src:url('RegencieLight.ttf');
}
@font-face{
	font-family: coolvetica_font;
	src:url('coolvetica.ttf');
}
a{
	color: #000000;
	text-decoration: none;
	padding-left: 15px;

}
a .head{
}
body{
	background-image: url('debut_light.png');
}
.btn.search{
	font-weight: bold;
}
.btn-danger.call{
	font: 23px title_font;
	padding: 10px 22px;
	letter-spacing: 2px;
}
.btn-danger.friends{
	font-weight: bold;
	padding: 5px 15px;
}
#container{
	width: 900px;
	height: 100%;
	margin: auto;
}
/*header stuff*/
#header{
	padding-top: 15px;
	padding-bottom: 15px;
}
#header #navigation{
	display: inline-block;
	float: right;
	padding-top: 20px;
}
#header #logo{
	display: inline-block;
	float: left;
}
#header #logo #pic{
	width: 20%;
}





/*searchbar stuff*/
#searchBar{
	background-color: rgba(196, 18, 0, 0.90);
	border-radius: 5px;
	padding: 15px;
	vertical-align: middle;
	margin-bottom: 15px;
	margin-top: 15px;
}
#searchBar .input-xlarge{
	padding-left: 15px;
	padding-right: 35px;
}
#searchBar .innerWrapper{
	width: 790px;
}
.clear{
	clear: both;
}




/*Main food div stuff*/
.foodmain{
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
	border-top: 2px solid rgba(196, 18, 0, 0.90);
	border-radius: 0px;
	margin-top: 60px;
}

.foodmain .innerWrapper{
	padding-top: 15px;
}

.innerWrapper{
	margin: auto;
	padding: 0 26px;
}
.clone_img{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.stars{
	float:left;
}

.feature{
	border-radius: 5px 5px 5px 5px;
	color: white;
	font-size: 25px;
	padding: 15px 15px 14px 15px;
	position: absolute;
	text-align: center;
	background-color: rgb(196, 18, 0);
	font-family: title_font;
}

.feature#first{
	left: 334px;
	top: -25px;
}

.feature#second{
	left: 123px;
	top: -23px;
}

.feature#third{
	left: 133px;
	top: -23px;
}

.picture{
	float: left;
	margin-right: 29px;
	position: relative;
	height: 460px;
}

.picture.last{
	margin-right: 0px;
}
.reviewblurb{
	font-family: "ff-din-web", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	margin: 13px;
	padding: 15px 15px 0px 15px;
	width: 206px;
	background-image: url('debut_light.png');
	opacity: .8;
	position: absolute;
	z-index: 99999;
}
.placehold a:hover{color: black !important;}
.count{
	padding-top: 5px;
}
.name{
	font: 30px/28px body_font;
}
.yelp{
	padding-top: 15px;
	font-size: 15px;
}
.stars{
	float: left;
}
.ratingCount{
	float: left;
	margin-left: 5px;
	line-height: 15px;
}
.blurb{
	padding-top: 5px;
	font-size: 20px;
	font-family: body_font;
}
.comment{
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	margin: 14px;
	padding: 10px;
	width: 215px;
	background-image: url('debut_light.png');
	opacity: .8;
	position: relative;
	top: -79px;
	z-index: 99999;
}
.input-xlarge{
	margin-bottom: 0px !important;
	margin-right: 25px !important;
	margin-left: 0px !important;
}
/*Sign Up stuff*/
#signup {
	text-align: center;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.80);
	border-radius: 5px;
}
#signup #signUpBlurb{
	font: 50px/43px title_font;
	padding-bottom: 15px;
	width: 550px;
	margin-right: auto;
	margin-left: auto;
}
#signup #signUpInfo{
	font-size: 16px;
	font-weight:bold;
	padding-bottom: 25px;
}

/*friends */

.reviews{
	margin: 10px;
	padding-bottom: 15px;
}
.row{
	margin-top: 45px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
}
.extras{
	position: relative;
	padding: 30px 15px 45px 20px;
	border: 2px solid rgba(196, 18, 0, 0.90);
	border-radius: 5px;
	vertical-align: top;
	height: 335px;
}

.info{
	margin-bottom: 20px;
}
.person{
	font-size: 20px;
	padding-top: 10px;
}
.image{
	float: left;
	vertical-align: top;
	padding-right: 10px;
}
.r{
	background-color: rgb(255, 255, 255);
	vertical-align: top;
	padding: 10px;
	border-radius: 5px;

}
#footend{
	margin-bottom: 10px;
}
#mobileHead{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
#text{
margin: 15px;
}
#mobilepic{
	height: 200px;
	width: auto;
	border-radius: 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.centerbutton{
text-align: center;
padding-bottom: 5px;
}

/*footer stuff */
footer{
	text-align: center;
}
.verticalLine{
	border-left: thin solid #ff0000;
}
#footend{
	margin-bottom: 15px;
}